<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="row" id="personas_login">
         <div>
           <label for="nombre2">Nombre:</label>
           <input type="text" placeholder="Nombre" id="nombre2" name="nombre2" >
         </div>
        <div>
           <label for="clave2">Clave:</label>
           <input type="password" placeholder="Clave" id="clave2" name="clave2">
         </div>
         <button class="btn btn-success" type="button" id="buttonLogin" on-click="loginPersona">Entrá</button>
      </div>
    </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
   

      loginPersona() {
        var request = new XMLHttpRequest();
        request.open('POST', 'https://api.techu.example/personas/login', false);
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');

        var intentoAutenticacion = { 
          "Nombre": nombre2.value,
          "Clave": clave2.value
        };
        request.send(JSON.stringify(intentoAutenticacion));
 
      
        if (request.status == 200) { 
          sessionStorage.setItem("auth",JSON.parse(request.responseText)["token"]);
        } else {
          alert("Mal usuario o clave");  
        }
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
