<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="row" id="personas_login">
         <button class="btn btn-success" type="button" id="AutoRegistrar" on-click="buscarCodigo">Usar Código</button>
         <div>
           <label for="codigo">Código:</label>
           <input type="text" placeholder="Codigo" id="codigo" name="codigo">
         </div
         <div>
           <label for="nombre">Nombre:</label>
           <input type="text" placeholder="Nombre" id="nombre" name="nombre">
         </div>
         <div>
           <label for="apellido">Apellido:</label>
           <input type="text" placeholder="Apellido" id="apellido" name="apellido">
         </div>
         <div>
           <label for="clave">Clave:</label>
           <input type="password" placeholder="Clave" id="clave" name="clave">
         </div>

         <button class="btn btn-success" type="button" id="buttonRegistrar" on-click="agregarPersona">Registrate</button>
      </div>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }

      buscarCodigo() {
        if (codigo.value) {
          var request = new XMLHttpRequest();
          request.open('GET', "https://services.odata.org/Northwind/Northwind.svc/Customers?$filter=toupper(CustomerID) eq '"+ codigo.value+"'");

          request.setRequestHeader('Accept', 'application/json');
          request.onload = function() {
            var data = JSON.parse(this.response).value;
            if (data[0].ContactName) {
              var [nombreNW,apellidoNW] = data[0].ContactName.split(/ /);
              nombre.value = nombreNW;
              apellido.value = apellidoNW;
           }
         }
         request.send();
        }
      }    

      agregarPersona() {
        var request = new XMLHttpRequest();
        request.open('POST', 'https://api.techu.example/personas', false);
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');

        var nuevoCliente = { 
          "Nombre": nombre.value,
          "Apellido": apellido.value,
          "Clave": clave.value
        };

        request.send(JSON.stringify(nuevoCliente));
      }
    }
    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
