<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view5">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{perfiles}}">
            <tr>
              <td>[[item.id]]</td>
              <td>[[item.nombre]]</td>
              <td>[[item.apellido]]</td>
              <td>[[item.perfil]]</td>
            </tr>
          </template>
          </tbody>
        </table>
    </div>
  </template>

  <script>
    class MyView5 extends Polymer.Element {
      static get is() { return 'my-view5'; }
      connectedCallback(){
         super.connectedCallback();
         this.obtenerPerfiles();
       }
      obtenerPerfiles() {
        var request = new XMLHttpRequest();
        request.open('GET', 'https://api.techu.example/admin/perfiles', false);
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');
        request.send();
        this.perfiles = JSON.parse(request.responseText);
      }
    }

    window.customElements.define(MyView5.is, MyView5);
  </script>
</dom-module>
