<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
        <button class="btn btn-success" type="button" id="Refrescar" on-click="obtenerPersonas">Refrescar</button>
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{personas}}">
            <tr>
              <td>[[item.id]]</td>
              <td>[[item.nombre]]</td>
              <td>[[item.apellido]]</td>
              <td><a href="/personas/[[item.id]]">Ver</a></td>
            </tr>
          </template>
          </tbody>
        </table>
    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      connectedCallback(){
         super.connectedCallback();
         this.obtenerPersonas();
       }
      obtenerPersonas() {
        var request = new XMLHttpRequest();
        request.open('GET', 'https://api.techu.example/personas', false);
        request.setRequestHeader('Autorization', sessionStorage.getItem("auth"));
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');

        request.send();
        if (request.status == 200) {
           this.personas = JSON.parse(request.responseText);
        } else {
           alert("sin permisos");  
        }
      }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
